.mySwiper2 {
  background-image: url('../../assest/Screenshot\ 2022-11-13\ 041856.jpg');
  width: 100vw;
  height: 100vh;
  z-index: -10;
  position: relative;
  margin-top: -6px;
}

.swiper-name h3 {
  color: #e4dfd4;
  font-family: SchnyderSDemi, Georgia, Times, Times New Roman, serif,
    Apple Color Emoji, Segoe UI Emoji;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0;
}

.swiper-name {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  margin-left: 9rem;
  width: 200%;
  align-items: center;
}
.swiper-active h3,
.swiper-active p,
.swiper-active div {
  opacity: 1 !important;
}
.swiper-item p {
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family: GTAmerica, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  opacity: 0;
  color: #fff;
}

.swiper-item img {
  width: 80rem !important;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
}

.swiper-car-design {
  opacity: 0;
}
.swiper-car-design a:nth-child(1) {
  border: 0;
  background: #fff;
  color: #000;
  width: 10.5vw;
  text-align: center;
  min-width: 100px;
  padding: 1.3rem 0;
  font-size: 1rem;
}
.swiper-car-design a:nth-child(2) {
  border-bottom: 1px solid #fff;
  color: #fff;
  letter-spacing: -0.6px;
  font-size: 1rem;
  align-self: center;
}
.swiper-button-next {
  color: #fff !important;
  right: 5rem !important;
}

.swiper-button-prev {
  left: 5rem !important;
  color: #fff !important;
}

.swiper-pagination {
  top: 95% !important;
  width: 90% !important;
  margin: 0 2.5% 0 5%;
  background: rgb(82, 82, 82) !important;
  height: 1px !important;
}
.swiper-pagination span {
  background: #fff !important;
}
.swiper-car-design {
  display: flex;
  gap: 1rem;
}
.swiper-item {
  position: relative;
}
